/*  
    Forked from, [Austin Henley, Bare bones CSS template]
    Modified by Toufiq A. Shishir
*/

/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'JetBrains Mono', 'IBM Plex Mono', 'Syne Mono', Helvetica, sans-serif;
    margin:auto;
    padding:15px;
    margin-top:-20px;
    max-width:720px;
    font-size:16px;
    text-align:left;
    background-color:#F5F5F5;
    position:relative;
}

::selection {
    background-color: black;
    color: #F5F5F5;
}

sup {
    font-size:x-small;
    line-height:0.0;
}

sub {
    font-size:x-small;
} 

a {
    text-decoration:none;
    color: black;
}

a.active {
    text-decoration:underline;
}

li {
    margin:0.25em;
    font-size:96%;
}

h1 {
    margin-top:0.8em;
    margin-bottom:0.8em;
    font-size:1.5em;
}

h1.blogtitle {
    margin-bottom:0.0em;
}

h2 {
    margin-top:1.4em;
    margin-bottom:0.25em;
    font-size:1.35em;
}

h3, h4 {
    margin-top:1.4em;
    margin-bottom:0.25em;
}

div {
    display: block;
}

hr {
    margin-top:0.75em;
    margin-bottom:0.75em;
}

td {
    border-bottom:2px solid #CCCCCC;
}

pre {
    overflow-x:auto;
}

p {
    line-height:1.15em;
    margin-bottom:1.15em;
}

ul {
    margin-bottom:1.35em;
}

blockquote {
    color: navy;
    text-align: center;
    font-style: italic;
    background: #dddddd;
    border-radius: 8px;
    margin: auto;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    padding: 0.6em 8px;
    width: 80%;
}

blockquote p {
    display: inline;
}

footer {
    padding-top: 10px;
}

.dense p {
    margin-top:0.2em;
    margin-bottom:0em;
    line-height:1.3em;
}

.news li {
    font-size:90%;
}

.right {
    text-align:right;
    margin-right:40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.card {
    padding: 12px;
}

.terminal-card {
    border: 1px solid #727578;
    margin: 15px 0;
}

.terminal-card>header {
    color: #F5F5F5;
    text-align: center;
    background-color: #727578;
    padding: 0.5em 0;
}

.terminal-card img {
    margin: auto;
    padding: 10px;
}

.terminal-card h3 {
    margin: auto;
    padding: 10px;
}

.terminal-card p {
    margin: auto;
    padding: 10px;
}

.terminal-timeline {
    position: relative;
    padding-left: 70px;
}

.terminal-timeline::before {
    content: ' ';
    background: #727578;
    display: inline-block;
    position: absolute;
    left: 35px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

.terminal-timeline .terminal-card::before {
    content: ' ';
    background: #F5F5F5;
    border: 2px solid #727578;
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    left: 26px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

.terminal-card:hover {
    box-shadow: 4px 4px black;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project-cards .terminal-card:hover {
    transform: scale(1.02);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.headshot {
    width: 172px;
    height: 200px; 
    margin: 0px 0px 0 0;
    border-radius: 10%;
    object-fit: cover; 
    object-position: 0% 8%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.text-container {
    flex: 2;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-container {
    flex-basis: 100px;
    margin: 20px 20px 10px 35px;
}

.links {
    margin-bottom: 1em;
}

.link:hover {
    background: black;
    color: #F5F5F5;
}

.resume-link::after {
    content: '_';
    display: inline-block;
    opacity: 0;
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

/* For mobile */
@media only screen and (max-width: 540px) {
    body {
        max-width: 520px;
        font-size: 14px;
    }

    .photo-container {
        margin-left: 0px;
    }

    .text-container {
        margin-top: -1em;
    }

    .links {
        margin-bottom: 0; 
    }
}
